
body {
  background-color: #f1f3f4;
}

.formDesignContainer{
	background: white;
	min-height: 600px;
	border: 1px solid #898989;
}

.addButton{
	width: 200px;
}

.optionsDiv{
	background: #f1f3f4;
	border: 1px solid #BCBCBC;
}

.checkedDropdown.dropdown-item-checked::before {
  position: absolute;
  left: .4rem;
  content: '✓';
  font-weight: 600;
}

textarea {
   resize: none;
}

.loginDropdown{
  min-width: 250px;
}

.propertiesContainer {
 /* height: 600px; 
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
*/
  padding-top: 40px;
  padding-bottom: 40px;
}

.propertiesForm{
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.removeButton{
  cursor: pointer;
}

.userTableUser{
  margin-bottom: 0px;
}

/****** Table Checkbox  *******/

.tableCheckbox input[type="checkbox"] {
  display: none;
}

.tableCheckbox label {
  padding-left: 0;
}

.tableCheckbox label:before {
  content: "";
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: bottom;
  padding-top: 1px;
  margin-right: 8px;
  margin-top: 8px;
  line-height: 20px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size:18px;
  
}

.tableCheckbox input[type="checkbox"]:checked+label::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight:900;
}

/******************************/


/************************/


/*
.createFlowForm {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.toolbox{
	-ms-flex: 0 0 300px;
	flex: 0 0 300px;
	background: #ffffff;
	border: 1px black solid;
}

.paper{
	-ms-flex: 0 0 1000px;
	flex: 0 0 1000px;
	border: 1px black solid;
	border-right: 0;
}


.vertical-center {
  min-height: 100%;  
  min-height: 100vh; \

  display: flex;
  align-items: center;
}

.toolboxNothing{
  height: 850px;

  display: flex;
  align-items: center;
}
*/