
body{
    background-color: #1C1D24;
    /*color: white;*/
}

hr{
    background-color: white;
}

legend,
label,
p{
    color: white;
}

.loginDropdown{
    min-width: 250px;
}

.save-button{
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 6px 0;
    font-size: 16px;
    line-height: 1.428571429;
    border-radius: 15px;
    color: #6DFBFD;
    background-color: #27436F;
    margin-top: 80px;
}

.save-button:hover:enabled{
    background-color: #E15F4C;
    color: #27436F;
}

.save-button:active:enabled{
    background-color: #6DFBFD;
}

.propertiesContainer{
    min-height: 600px;
}

.propertiesForm{
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
  
.complete-button{
    background-color: #E15F4C;
    color: #27436F;
}

.taskbar-radios-checked{
    background-color: #E15F4C;
    color: #27436F;
}

.taskbar-radios{
    color: #6DFBFD;
    border-color: #6DFBFD;
}

.tooltip-inner {
    color: #000;
    text-align: center;
    background-color: #fff;
    border-radius: .25rem;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #fff;
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    border-right-color: #fff;
}

.sub-item-number{
    font-size: 24px;
}

.sub-item{
    background-color: #323339 !important;
}

.sub-item p,
.sub-item h5{
    color: #6DFBFD !important;
}

.viewer-nav a{
    font-size: 32px;
}

.task-nav{
    border-bottom: 2px white solid;
}

.taskHeader{
    background-color: #E15F4C;
    border-radius: 15px 0px 0px 15px;
    color: #27436F;
}

.plusButton{
    min-height: 200px;
}

.plusButton span i{
    font-size: 150px;
    color: #27436F;
}

.plusButton span i:hover{
    color: #E15F4C;
    cursor: pointer;
}

.step-control:hover{
    color: #6DFBFD;
}

.taskBody{
    background-color: #27436F;
    min-height: 200px;
    border-radius: 0px 5px 5px 0px;
    color: white;
    /*border: 1px #3b3c3d solid;*/
}

.taskBody small{
    color: #6DFBFD;
}

.taskNumber{
    font-size: 60px;
    font-family: 'Bookman Header';
}

textarea{
    resize: none;
}

.checkedDropdown.dropdown-item-checked::before {
    position: absolute;
    left: .4rem;
    content: '✓';
    font-weight: 600;
  }

.borderless{
    border: none;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
    color: white;
    width: 100%;
    cursor: pointer;
}

.borderless::placeholder{
    color: white;
}

.borderless:focus{
    outline: none;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
}

.borderless:focus::-webkit-input-placeholder {
    color:gray !important;
}

.borderless:focus:-moz-placeholder {
    color: gray !important;
}

.borderless:focus::-moz-placeholder {
    color: gray !important;
}

.borderless:focus:-ms-input-placeholder {
    color: gray !important;
}

.title{
    font-size: 24px;
    color: white;
}

.instructions{
    color: white;
    white-space: pre-wrap;
}

.helper-text{
    color: #6DFBFD;
    font-size: 13px;
}

.taskControls{
    font-size: 32px;
    color: #E15F4C;
}

.taskControlDropdown{
    border: none;
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
    font-size: 32px;
    color: #E15F4C;
}

.taskControlDropdown:focus{
    border: none !important;
    box-shadow: none !important;
}

.form-builder-options {
    margin-left: 16px;
    margin-right: 16px;
    padding: 5px 0px;
}

.form-builder-options > li > ul {
    padding: 0;
    margin: 0;
}
  
.form-builder-options > li > ul > li {
    list-style: none;
}
  
.form-builder-options > li > ul > li > span{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
    font-size: 16px;
    white-space: pre;
}
  
.form-builder-options > li ul > li > span:hover,
.form-builder-options > li ul > li > span:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
  
.form-builder-options .disabled > span,
.form-builder-options .disabled > span:hover,
.form-builder-options .disabled > span:focus {
    color: #999999;
}
  
.form-builder-options .disabled > span:hover,
.form-builder-options .disabled > span:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
  
.form-builder-options .dropdown-header {
    color: #428bca;
    font-size: 22px;
    padding-bottom: 0px;
}
  
@media (max-width: 768px) {
    .form-builder-options {
      margin-left: 0 ;
      margin-right: 0 ;
    }
    .form-builder-options > li {
      margin-bottom: 30px;
    }
    .form-builder-options > li:last-child {
      margin-bottom: 0;
    }
    .form-builder-options .dropdown-header {
      padding: 3px 15px !important;
    }
}

.process-row {
    display: table-row;
}

.process {
    display: table;     
    width: 100%;
    position: relative;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.process-row:before {
    top: 50px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    /*z-order: 0;*/
    
}

.process-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.process-step p {
    margin-top:10px;
    color: white;
}

.btn-circle-active,
.btn-circle-inactive{
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 6px 0;
  font-size: 16px;
  line-height: 1.428571429;
  border-radius: 15px;
  color: #6DFBFD;
}

.btn-circle-active{
    background-color: #E15F4C;
    color: #27436F;
}

.btn-circle-inactive{
    background-color: #27436F;
    color: #6DFBFD;
}

.navbar-custom {
    background-color: #27436F;
    border-bottom: 4px solid #E15F4C;
    border-radius: 5px 5px 0px 0px;
    height: 80px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white !important;
}

.my-tasklist{
    min-height: 600px;
    /*border: 2px solid #6DFBFD;*/
    border-radius: 0px 0px 5px 5px;
    background-color: #EBEBEB;
}

.my-tasklist .list-group-item{
    background-color: transparent;
    border-bottom: 2px solid #666;
    border-radius: 0px;
}

.my-tasklist p{
    margin-bottom: 0px;
}

.my-tasklist h5{
    color: #4C4F63;
}

.my-tasklist small,
.my-tasklist p{
    color: #4C4F63;
}

.my-tasklist .list-group-item:hover{
    transition: background-color 0.6s ease;
    transition: color 1s ease;
    background-color: #323339;
    color: #E15F4C;
    cursor: pointer;
}

.my-tasklist .list-group-item:hover h5,
.my-tasklist .list-group-item:hover small,
.my-tasklist .list-group-item:hover p{
    transition: color 1s ease;
    color: white;
}

.table-item-remove{
    background-color: #EAF0F5;
    padding: 2px 7px 2px 7px;
    margin-right: 5px;
    margin-top: 5px;
    border: 1px solid #CAD6E2;
    font-weight: 500;
}

.table-item-remove.x-active{
    background-color: #E15F4C;
    color: #27436F;
}

.table-item-add{
    background-color: #EAF0F5;
    color: black;
    padding: 2px 15px 2px 15px;
    margin-right: 5px;
    margin-top: 5px;
    border: 1px solid #CAD6E2;
    font-weight: 500;
}

.table-item-add:hover{
    background-color: #E15F4C;
    color: white;
}
.group-tr p,
.user-tr p{
    margin-bottom: 0px;
    color: black ;
}

.group-tr:hover,
.user-tr:hover{
    transition: background-color 1s ease;
    transition: color 1s ease;
    background-color: #323339;
    cursor: pointer;
}

.group-tr:hover p,
.user-tr:hover small,
.user-tr:hover p{
    transition: color 1s ease;
    color: white;
}

.group-tr.x-active,
.user-tr.x-active{
    background-color: #E15F4C;
    color: #27436F;
}

.row-close-x{
    font-size: 28px;
    padding: 0px;
    margin: 0px;
    color: #E15F4C;
}

.row-close-x:hover{
    color: black;
}

.modal-body p,
.modal-body label{
    color: black;
}

/****** Table Checkbox  *******/

.tableCheckbox input[type="checkbox"] {
    display: none;
  }
  
  .tableCheckbox label {
    padding-left: 0;
  }
  
  .tableCheckbox label:before {
    content: "";
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: bottom;
    padding-top: 1px;
    margin-right: 8px;
    margin-top: 8px;
    line-height: 20px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size:18px;
    
  }
  
  .tableCheckbox input[type="checkbox"]:checked+label::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight:900;
    color: black;
  }
  
  /******************************/

  .login-form{
      width: 100%;
      max-width: 400px;
      margin-top: 150px;
      margin-left: auto;
      margin-right: auto;
  }

  .login-form a{
      color: #428bca;
  }

  .login-form button{
      width: 100%;
  }

  .login-form p{
      color: #E15F4C;
  }
